<?xml version="1.0"?>
<model>
    <name>RplidarA1</name>
    <version>1.0</version>
    <sdf version="1.7">RplidarA1.sdf</sdf>
    <author>
        <name>My Name</name>
        <email>name@email.address</email>
    </author>
    <description>
        primera versión del lidar 2D que se usará en el robot
    </description>

</model>